gas-preprocessor/
gettext-0.18.2.1/
glib/
glib-networking/
gmp-5.1.2/
gnutls/
gobject-introspection/
gst-build-*
gst-ffmpeg/
gst-plugins-bad/
gst-plugins-base/
gst-plugins-good/
gstreamer/
execinfo.h
icu/
libav/
libffi/
libnice/
libusrsctp/
libsoup/
libsrtp/
libvpx/
libxml2-2.7.8/
nettle-2.7.1/
openh264/
openssl-1.0.1h/
opus-1.0.3/
orc-0.4.22/
readline-6.3/
seed/
sqlite-autoconf-3080500/
strncpy.patch
webkit_threading_platform_mac.patch
webkitgtk-2.4.3/
zlib-1.2.8/
json-glib
libiconv-1.14/
index.html
Makefile
*.tar.gz
*.tar.bz2
*.tar.xz
*.tgz
*_build_failed_on_*
build
out
.\#*
\#*
*~
